*{
    background-color:#343a40;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: #3ac3fb; 
}
::-webkit-scrollbar-track-piece {
  background: #343a40e1
}
html,body
{
    width: 100%;
    margin: 0px;
    margin-bottom: 25px;
    padding: 0px;
    overflow-x: hidden; 
}

.green{
  color:green;
}

.red{
  color:red;
}

strong{
  color:#eef8fb
}
.material-icons{
  transform: translateY(4px);
  color: #3ac3fb;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 110%;
  height: 5%;
  line-height: 50px; /* Vertically center the text there */
  background-color: #606a75;
  text-align: center;
  color: white;
  z-index: 100;
}
.nav-link {
  animation-duration: 0.6s;
  background-color: #343a40;
}
.jumbotron {
  background-image: url(/content/bannerbackground.png);
  background-size: cover;
  color: #012249;
  display: block;
  height: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  text-shadow:  1.5px 1px #ffffff;
}
.jumbotrontext {
    background-color: transparent;
}
.big-center-text{
  color: #d8eff5;
  text-align: center;
}

/*Employee Dashboard CSS*/
.inf-content{
  border:1px solid #DDDDDD;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}		
.text-userinfo{
  color: #3ac3fb;
}

/*pending page CSS*/
.card{
  background-color: #3ac3fb;
  margin-left: 30px;
  margin-top: 10px;
  max-width: 300px;
  transition: background-color .4s;
}
.card:hover {
  background-color: gold;
}
.card-img{
  max-width: 180px;
  background-color: #1e2225;
}
.card-body{
  background-color: #1e2225;
  border-radius: 15px;
}
.card-title{
  background-color: #1e2225;
  color: #3ac3fb;
  text-align: center;
}
.card-text{
  background-color: #eef8fb;
  padding: 10px;
  border-radius: 15px;
  color: #1e2225;
}
.card-text-muted{
  background-color: peachpuff;
}
.card-preapproval-question{
  text-transform: capitalize;
}
.card-button{
  float: right;
  margin-left: 15px;
}
.download-icon{
  float: left;
  background-color: #1e2225;
}
.receipt-upload-label{
  color:white;
}
#receipt-upload{
  background-color: white;
  border-radius: 5px;
}
/*Resolved Styling*/
.card-approval-manager{
  color: black;
  background-color: rgb(8, 204, 8);
}
.card-denied{
  color: black;
  background-color: rgb(221, 1, 1);
}
/*Login Page Styling*/
.login-setup{
  margin-top: 100px;
}
.red-border{
  border: 3px solid red;
}
/*Employee List CSS*/
.card-employee-level{
  text-align: center;
  color: #0484bb;
}
.right-align{
  float: right;
}
.up-gap{
  margin-top: 10px;
  margin-left: 30px;
}

.modal-header{
  background-color: #e0f5fe;
}
.modal-title{
  background-color: #e0f5fe;
}
.modal-body{
  background-color: white;
}
.modal-footer{
  background-color: #e0f5fe;
}
.form-group{
  background-color: white;
  margin-bottom: 0px;
}
.col-form-label{
  background-color: white;
}
.modal-content{
  background-color: white;
}



/*Animation styling*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0, 0.05, 0.855, 0.06);
    transform: translate3d(0, -8px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0, 0.05, 0.855, 0.06);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes tinderLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.tinderLeft {
  animation-name: tinderLeft;
}

@keyframes tinderRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.tinderRight {
  animation-name: tinderRight;
}


/*ID specific CSS */
#navbar-main {
  background-color: #343a40;
}
#navbar-collapse {
  background-color: #343a40;
}
#page-content {
  background-color: #606a75;
  color: #eef8fb;
}